@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

#g-usetag {
	stroke-width: 6;
	stroke: #f2385a;
	animation: gstrokeanim 2s infinite linear;
}
#c-usetag {
	stroke-width: 6;
	stroke: #1bfdea;
	animation: gstrokeanim 2s infinite linear;
}
@keyframes gstrokeanim {
	0% {
		stroke-width: 6;
	}
	50% {
		stroke-width: 0;
	}
	100% {
		stroke-width: 6;
	}
}

.text {
	fill: none;
	stroke-width: 6;
	stroke-linejoin: round;
	stroke-dasharray: 70 330;
	stroke-dashoffset: 0;
	-webkit-animation: stroke 6s infinite linear;
	animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
	stroke: #f2385a;
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
	stroke: #f5a503;
	-webkit-animation-delay: -2.4s;
	animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
	stroke: #e9f1df;
	-webkit-animation-delay: -3.6s;
	animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
	stroke: #56d9cd;
	-webkit-animation-delay: -4.8s;
	animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
	stroke: #3aa1bf;
	-webkit-animation-delay: -6s;
	animation-delay: -6s;
}

@-webkit-keyframes stroke {
	100% {
		stroke-dashoffset: -400;
	}
}

@keyframes stroke {
	100% {
		stroke-dashoffset: -400;
	}
}
.text1 {
	fill: none;
	stroke-linejoin: round;
	stroke-dasharray: 300;
	-webkit-animation: vstroke 12s infinite linear;
	animation: vstroke 12s infinite ease-in-out;
}
.text1:nth-child(3n + 3) {
	stroke-width: 4;
	stroke: #3aa1bf;
	-webkit-animation-delay: 0s;
	animation-delay: 00s;
}
.text1:nth-child(3n + 1) {
	stroke: yellow;
	stroke-width: 1;
	-webkit-animation-delay: 0.2s;
	animation-delay: -0.2s;
}
.text1:nth-child(3n + 2) {
	stroke: rgb(49, 195, 5);
	stroke-width: 2;
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@keyframes vstroke {
	0%{
		stroke-dashoffset: 1000;
	}
	50% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 1000;
	}
}
#svg-container{
	font-size: 20rem;
	height: 100%;
	width: 100%;
}
#c-usetag{
	fill: url("#SPattern");
}
#g-usetag{
	fill: url("#GPattern");
}
body{
	background-color: #111;
}