{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <link rel="stylesheet" href="{%static 'snackbar.css' %}">
    {%block link%}{%endblock link%}
</head>

<body style="background-color: #111;">
    <div>
        <div id="snackbar"></div>
        <script>
            function snack(msg, className) {
                let element = document.getElementById("snackbar")
                element.innerHTML = "<p>"+msg+"</p>"
                element.className = "show " + className
                setTimeout(function () { element.className = element.className.replace("show", ""); }, 3000);
            }
        </script>
        {% block content %}
        {% endblock %}
    </div>
    {% include 'nav.html' %}
</body>
</html>